{% extends "base.html" %}
  
{% block content %}

<header role="banner" class="probootstrap-header">
    <div class="container">
        <a href="#" class="probootstrap-logo">Projet Python IDSI </a>

    </div>
</header>

<section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 mb80 text-center probootstrap-animate">
          <h3 class="text-danger">
              <h2>Deconnexion</h2>
              <p> Nous vous remercions de nous faire confiance ! </p>
              <a href="login" class="text-center">Se connecter</a>
        </div>
      </div>
    </div>
  </section>  

  {% endblock content %}


